/*GENERAL*/
/*забрати спейси зліва і справа від основних дівів*/
body {
    margin: 0;
    font-size: 100%;
    font-family: themix-normal
}

/*приліпити всі основні діви один за одним вниз*/
div {
    display: block;
}

/*забрати спейси НАД і ПІД хедером/футером*/
ul {
    margin: 0;
}

/*зробити тексти списків в хедері і футері білим, без підкреслень*/
a {
    color: white;
    text-decoration: none;
}

/*зробити списки в хедері і футері inline, і норм ширину між елементами*/
ul li{
    display: inline-block;
    margin: 10px;
}

/*додаємо свої шрифти*/
@font-face {
    font-family: "themix-normal";
    src: url("fonts/tmix-webfont.woff") format('woff');
}
@font-face {
    font-family: "BrauerNeue-Black";
    src: url("fonts/BrauerNeue-Black.woff") format('woff');
}
@font-face {
    font-family: "themix-light";
    src: url("fonts/tmixlight-webfont.woff") format('woff');
}

/*HEADER*/
/*спільний блок для div img/list, по дефолту типу block, чорний, з висотою*/
.general-header {
    background-color: black;
    height: 80px;
    width: 100%;
    top: 0;
    position: fixed;
}

/*бекграунд блоків div img/list - чорний*/
.general-header div{
    background-color: black;
    position: absolute;
}

/*блок з картинкою,типу inline, щоб зліпить в спільному хедері*/
#logo-header-container {
    display: inline-block;
    margin: 25px;
}

/*блок зі списком,типу inline, щоб зліпить в спільному хедері*/
#list-header-container {
    display: inline-block;
    margin: 15px 20px 25px 750px;
    font-family: themix-normal;
    text-transform: uppercase;
    height: 50px;
}

/*робота з кнопкою fa-fa-globe*/
.globe-triangle-button {
    background-color: transparent;
    color: white;
    border: 0;
}

/*MAIN*/
/*жовтий блок, тип block*/
.yellow-div {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: rgb(250, 195, 35);
    text-align: center;
}

/*h1 жовтого контейнера*/
.yellow-div h1 {
    text-transform: uppercase;
    font-family: BrauerNeue-Black;
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

/*перша частина сірого контейнера з блоком з формою*/
.first-general-grey-div {
    position: relative;
    top: 280px;
    width: 100%;
    height: 300px;
    background-color: rgb(247, 247, 247);
    text-align: center;
}

/*блок з формою і параграфом біля неї*/
#container-with-form {
    position: relative;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 100px;
    display: inline-block;
    width: 100%;
}

/*h2 для сірого блока з формою*/
#container-with-form h2 {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: BrauerNeue-Black;
    margin-inside: 5px;
    font-size: 18px;
}

/*налаштування форми*/
#form {
    height: 40px;
    position: relative;
}

#form h2 {
    position: absolute;
    top: 10px;
    right: 880px;
}

/*placeholder у формі*/
#location-name-in-form {
    border: none;
    height: 30px;
    width: 250px;
    font-family: themix-normal;
    padding-left: 15px;
    position: absolute;
    top: 20px;
    right: 600px;
}

/*стиль для кнопки*/
#search-button {
    padding: 5px 30px 5px 10px;
    border: none;
    background-color: rgb(250, 195, 35);
    height: 31px;
    position: absolute;
    top: 20px;
    right: 500px;
}

/*стилі тексту на кнопці*/
#search-button a {
    color: black;
    font-family: BrauerNeue-Black;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 25px;
}

/*svg на кнопці*/
#arrow-button {
    width: 15px;
    margin: 2px 2px 0px 2px;
}

/*друга частина сірого контейнера, з параграфом*/
.second-general-grey-div {
    position: relative;
    background-color: rgb(247, 247, 247);
    top: 220px;
    text-align: center;
    height: 120px;
}

/*параграф*/
.second-general-grey-div p {
    font-family: themix-light;
}

/*FOOTER*/
/*спільний контейнер футера*/
.general-footer {
    position: relative;
    top:200px;
    bottom: 0;
    width: 100%;
    background-color: black;
    font-family: themix-normal;
    color: white;
    text-align: center;
    height: 180px;
}

/*контейнер з логотипом*/
#logo-footer-container {
    position: relative;
    top: 50px;
    bottom: 20px;
}

/*контейнер зі списком*/
#list-footer-container {
    font-size: 18px;
    position: relative;
    top: 70px;
    bottom: 10px;
}

/*list style disc*/
#list-footer-container li::before {
    content: "•";
    color: white;
    display: inline-block;
    width: 80px;
    margin-left: -1em;
    font-weight: bold;
    font-size: 25px;
}

































